.App {
  text-align: center;
  margin: 0 auto;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.ui.card {
  width: 300px;
  border: 2px solid lightgray;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  .header {
    background:linear-gradient(to bottom, rgba(0,0,0,0.09),rgba(0,0,0,0.01));
    border-bottom: 2px solid#c3c9c8;
    padding-bottom: 5px;
    font-weight: bold;
   }
}

button {
  // display: block;

}


